
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Summary</mat-card-title>

    </mat-card-header>
    <!-- TO DO... -->
    <img mat-card-image src="../../../assets/img/56990-middle.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p class="message">
            {{message}}
        </p>

        <span class="percentage">{{percentage}}% Completed</span>
        <mat-progress-bar mode="determinate" [value]="percentage" #progressbar></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>