<html>
<div class="row center">
        <div class="slide-container">
            <div class="wrapper">
                <div class="clash-card barbarian">
                    <div class="clash-card__unit-description">
                        click start to start your quiz
                    </div>
                    
                    <div class="clash-card__unit-name">
                        <a [routerLink]="'/quizStepper'">
                            start 
                        </a>
                    </div>
                    

                    <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                        <div class="one-third">
                            <div class="stat">20<sup>S</sup></div>
                            <div class="stat-value">Time</div>
                        </div>

                        <div class="one-third">
                            <div class="stat">10</div>
                            <div class="stat-value">Questions</div>
                        </div>

                        <div class="one-third no-border">
                            <div class="stat">4</div>
                            <div class="stat-value">Options</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
</html>